:root {
	--roundCheckboxColor: #57c2ef;
	--faded-color: rgb(155, 155, 155);
	--completed-background: rgb(240, 245, 248);
	--date-font: 'Crimson Text', serif;
}
/** OVERALL TASK LIST **/
.task-list {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	gap: 10px;
}

/** Individual Tasks **/
.task-info-container {
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid rgb(192, 192, 192);
	font-size: 1.1rem;
	display: flex;
	flex-flow: column;
	gap: 5px;
}
.task-info-container p {
	margin: 0;
}
.task-info-container .task-title {
	font-size: 1.2rem;
}
.task-info-container .task-description {
	color: rgb(83, 83, 83);
}
.task-top-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.task-inner-left-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.task-inner-right-container {
	display: flex;
	gap: 10px;
	align-items: center;
}
.task-bottom-container .task-date{
	color: rgb(136, 48, 195);
	font-weight:600;
	font-family: var(--date-font);
}

/* icons in tasks */
img.priority-flag, img.trash-button{
	width: 30px;
}
img.edit-button {
	width: 26px;
	margin-top: -4px;
}

/* Fills in flag in modal and tasks */
img.flag-high {
	filter: var(--priority-high-color);
}
img.flag-medium {
	filter: var(--priority-medium-color);
}
img.flag-low {
	filter: var(--priority-low-color);
}

/** "Add Task" button **/
.add-task-btn {
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}
.add-task-btn img {
	width: 30px;
}

/** Round checkbox btn **/
.roundCheckBtn {
	position: relative;
}
.roundCheckBtn label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 25px;
	width: 25px;
	display: flex;
}
/* This is the check icon that appears when checkbox is active */
.roundCheckBtn label:after {
	content: "";
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	height: 5px;
	width: 11px;
	left: 6px;
	top: 7px;
	opacity: 0;
	position: absolute;
	transform: rotate(-45deg);
}
.roundCheckBtn input[type="checkbox"] {
	visibility: hidden;
	position: absolute;
}
.roundCheckBtn input[type="checkbox"]:checked + label {
	background-color: var(--roundCheckboxColor);
	border-color: var(--roundCheckboxColor);
}
.roundCheckBtn input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

.taskComplete {
	text-decoration: line-through;
	color: var(--faded-color);
	background-color: var(--completed-background);
}
